.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  width: 95vw;

  @media (width < 1000px) {
    margin-top: 10%;
    height: 100vh;
  }

  &_form {
    width: 100%;
    display: flex;
    justify-content: space-around;

    @media (width < 1000px) {
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-top: 20%;
      align-items: start;
      height: 100%;
    }
  }
}
