.cliningInfo {
  padding: 20px;
  border-radius: 5px;
  display: block;
}

.cliningInfo ul {
  list-style: disc;
  margin-left: 20px;
}

.cliningInfo li {
  margin-bottom: 10px;
}

.titleColor {
  color: #2b5de6;
}
