.h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  @media (width < 1024px) {
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
  }
}
.h2 {
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;

  @media (min-width: 361px) and (max-width: 1023px) {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
  }

  @media (max-width: 360px) {
    font-size: 17px;
    font-weight: 600;
    line-height: 25px;
  }
}

.h3 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  @media (width < 1024px) {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.01em;
  }
}
.regular_xs {
  font-size: 12px;
  @media (width < 1024px) {
    line-height: 20px;
  }
}
.regular_s {
  font-size: 13px;
  @media (width < 1024px) {
    font-size: 12px;
    line-height: 20px;
  }
}
.regular {
  @media (width < 1024px) {
    font-size: 13px;
    line-height: 20px;
  }
}
.medium_xs {
  font-size: 12px;
  font-weight: 500;
  @media (width < 1024px) {
    font-size: 10px;
    font-weight: 500;
    line-height: 10px;
  }
}
.medium_s {
  font-size: 13px;
  font-weight: 500;
  @media (width < 1024px) {
    font-size: 12px;
    line-height: 20px;
  }
}
.medium {
  font-weight: 500;
  font-size: 18px;
  @media (width < 1024px) {
    font-size: 17px;
    line-height: 22px;
  }
}
.semiBold_s {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0;
  @media (width < 1024px) {
    font-size: 8px;
    letter-spacing: 0;
  }
}
.semiBold {
  font-weight: 600;
  line-height: 20px;
  @media (width < 1024px) {
    font-size: 12px;
    letter-spacing: 0;
  }
}

.cursor {
  cursor: pointer;
}
