.contentWrapper {
  display: flex;
  gap: 35px;

  @media (width < 450px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &_item {
    display: flex;
    gap: 8px;
  }

  &_text {
    color: white;
  }
}
