.wrapper {
  display: flex;
  margin-top: 10px;
  gap: 15px;
  flex-direction: column;
  align-items: center;

  &_text {
    text-align: center;
  }

  @media (width < 450px) {
    padding-bottom: 55px;
  }
}

.grid {
  display: flex;
  justify-content: center;
}

.img {
  width: 130px;
  height: 110px;
  @media (width < 450px) {
    width: 110px;
    height: 90px;
  }
}

.text {
  text-align: center;
  color: #2b5de6;
}

.gridItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  cursor: pointer;
}

.selectedItem {
  background-color: #bfe0ff;
}

.gridItem:hover {
  transform: scale(1.05);
  @media (width < 500px) {
    transform: none;
  }
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.priceBlock {
  background-color: #ffcc80;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 7px;
  height: 35px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

:global(.css-a5rdam-MuiGrid-root) {
  margin: 0;
  @media (width < 550px) {
    width: 100%;
  }
}

:global(.css-a5rdam-MuiGrid-root > .MuiGrid-item) {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  max-width: 350px;
  margin: 0px 5px 20px 25px;
}

@media (max-width: 500px) {
  :global(.css-a5rdam-MuiGrid-root > .MuiGrid-item) {
    padding-left: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
    margin-left: 7px;
    width: 200px;
  }
}

@media (max-width: 449px) {
  :global(.css-a5rdam-MuiGrid-root > .MuiGrid-item) {
    padding-left: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
    margin-left: 7px;
    width: 170px;
  }
}

@media (max-width: 399px) {
  :global(.css-a5rdam-MuiGrid-root > .MuiGrid-item) {
    padding-left: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
    width: 160px;
    margin-left: 7px;
  }
}
